<!DOCTYPE html>
<head>
  <title>OpenAI Quickstart</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='dog.png') }}" class="icon" />
  <h3>Tag my course</h3>
  <p>⚠️ This app is not encrypted, do not input confidential information!</p>
  <form action="/" method="post">
    <input type="text" name="title" placeholder="Course title" required />
    <input type="text" name="description" placeholder="Course description" required />
    <input type="submit" value="Generate tag suggestions" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>
